:root{
    --white: #fff;
}

main{
    position: relative;

}

h1,h2,h3{
    color: var(--white);
}

.video-fondo{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    width: 100vw;
    height: 100vh;
    object-fit: cover;

    z-index: -2;
}

.background-video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    
    z-index: -1;
}


/*.card-time{
    position: absolute;
    bottom: 10px;
    right: 10px;  
}
    */